.wallpapper img{
    width: 100%;
    height: 350px;
}

@media only screen  and (max-width: 850px){
    .wallpapper img{
        width: 100%;
        max-height: 200px;
    }
}

.centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-family: none;
    text-align: center;
    color: #ffffff;
    text-shadow: -2px 5px 5px #000000;
    background-color: #0000007d;
    border-radius: 50%;
}

@media only screen  and (max-width: 850px){
    .centered{
        top: 13%;
        font-size: 20px;
        right: -40%;
        border-radius: 50%;
    }
}

.nav-of-details {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media only screen  and (max-width: 850px){
    .nav-of-details {
        width: 90%;
        margin: 25px 5%;
    }
}

.nav-of-details :hover {
    box-shadow: 0 0 20px 0px #0e1042;
    transform: scale(1.2);
    transition: .8s;
}

.nav-of-details h3 {
    padding: 0.75rem;
    background-color: #262172;
    border-radius: 20px;
    box-shadow: -2px 4px 10px #020556;
}

.swiper {
    width: 90%;
    height: 100%;
    margin: 2% 5% 0 5%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-style: inset;
    border-color: #262172;
    border-radius: 5%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.swiper-slide .col-sm-3{
    display: flex;
    align-items: center;
}

@media only screen  and (max-width: 850px){
    .swiper-slide .col-sm-3{
        margin: 5% 0;
    }
}

.swiper-slide h4{
    background-color: #202023;
    color: white;
    margin: 0;
    padding-right: 5%;
}

@media only screen  and (max-width: 850px){
    .swiper-slide h4{
        font-size: 0.75rem;
        padding: 0 5%;
    }
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 90%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.price-and-description .row {
    width: 100%;
}

@media only screen  and (max-width: 850px) {
    .price-and-description .row {
        flex-direction: column-reverse;
    }
}

.nav-of-col {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media only screen  and (max-width: 850px){
    .nav-of-col {
        width: 90%;
        margin: 25px 5%;
    }
}

.nav-of-col :hover {
    box-shadow: 0 0 20px 0px #0e1042;
    transform: scale(1.2);
    transition: .8s;
}

.nav-of-col h3 {
    padding: 0.75rem;
    background-color: #262172;
    border-radius: 20px;
    box-shadow: -2px 4px 10px #020556;
}

.price-and-description ul{
    text-align: center;
    list-style: inside;
    padding: 0;
    width: 90%;
    margin: 0 5% 16px 5%;
}

.button {
    display: flex;
    justify-content: center;
}

button {
    margin: 2%;
}