{% extends 'main_page.html' %}
{% load static %}

{% block tytul %}Projekty{% endblock %}
{% block static %}
    <link rel="stylesheet" href="{% static 'all_projects_page.css' %}">
{% endblock %}

{% block body %}
    <section class="wallpapper">
        <img src="/media/python-hello-world.png" alt="The photo of coffee.">
        <span class="centered"></span>
    </section>
    <section class="nav-of-projects">
        <h3>Strona ta zawiera wszystkie moje projekty.</h3>
    </section>
    <section class="filter">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'all_projects_page' %}">Wszystkie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'filtered_by_application_page' %}">Aplikacje internetowe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'filtered_by_website_page' %}">Strony Internetowe</a>
          </li>
        </ul>
    </section>
    <section class="projects">
        <div class="row">
            {% for post in posts %}
                <div class="col-sm-4">
                    <div class="card">
                        <h4 class="category-of-post">Typ: {{ post.categoryOfPost.nameOfCategoryPolish }}</h4>
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                            {% for picture in pictures %}
                                {% if picture.whichPost == post %}
                                    <div class="swiper-slide"><img src="/media/{{ picture.pictureOfPost }}"></div>
                                {% endif %}
                            {% endfor %}
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
                        <script src="{% static 'all_projects_page.js' %}"></script>
                        <div class="card-body">
                            <h5 class="card-title">{{ post.nameOfPost }}</h5>
                            <p class="card-text">{{ post.descriptionOfPostPolish }}</p>
                            <a href="{% url 'details_of_project_page' post.id %}" class="btn btn-primary">Pokaż więcej ->></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
{% block mail %}
    {% for smt in contact %}
        <a href="mailto:{{ smt.emailOfContact }}">{{ smt.emailOfContact }}</a>
    {% endfor %}
{% endblock %}
{% block tel %}
    {% for smt in contact %}
        <a href="tel:{{ smt.phoneOfContact }}">{{ smt.phoneOfContact }}</a>
    {% endfor %}
{% endblock %}