{% extends 'main_page.html' %}
{% load static %}

{% block tytul %}Dominik Radziszewski{% endblock %}
{% block static %}<link rel="stylesheet" href="{% static 'contact_page.css' %}">{% endblock %}

{% block body %}
    {% for file in contact %}
        <p>{{ file.emailOfContact }}</p>
    {% endfor %}
    <p>HWDP</p>
{% endblock %}
{% block mail %}
    {% for smt in contact %}
        <a href="mailto:{{ smt.emailOfContact }}">{{ smt.emailOfContact }}</a>
    {% endfor %}
{% endblock %}
{% block tel %}
    {% for smt in contact %}
        <a href="tel:{{ smt.phoneOfContact }}">{{ smt.phoneOfContact }}</a>
    {% endfor %}
{% endblock %}