{% extends 'main_page.html' %}
{% load static %}

{% block tytul %}Opis projektu{% endblock %}
{% block static %}
    <link rel="stylesheet" href="{% static 'details_of_project_page.css' %}">
{% endblock %}

{% block body %}
    <section class="wallpapper">
        <img src="/media/milkyway.jpg" alt="The photo of coffee.">
        <span class="centered">{{ title }}</span>
    </section>
    <section class="photos">
        {% for picture in picturesOfProject %}
            <div class="row">
                <div class="col-sm-5">
                    <img class="myImg" src="/media/{{ picture.pictureOfPost }}" alt="{{ picture.descriptionOfPicturePolish }}">
                    <span>Kliknij aby powiększyć</span>
                    <div id="myModal" class="modal">
                      <span class="close">&times;</span>
                      <img class="modal-content" id="img01">
                      <div id="caption"></div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <span>{{ picture.descriptionOfPicturePolish }}</span>
                </div>
                <hr>
            </div>
        {% endfor %}
        <button type="button" onclick="location.href='http://{{ link }}/'" class="btn btn-primary">Odwiedź stronę ->></button>
        <script src="{% static 'details_of_project_page.js' %}"></script>
    </section>
{% endblock %}
{% block mail %}
    {% for smt in contact %}
        <a href="mailto:{{ smt.emailOfContact }}">{{ smt.emailOfContact }}</a>
    {% endfor %}
{% endblock %}
{% block tel %}
    {% for smt in contact %}
        <a href="tel:{{ smt.phoneOfContact }}">{{ smt.phoneOfContact }}</a>
    {% endfor %}
{% endblock %}