{% extends 'main_page_en.html' %}
{% load static %}

{% block tytul %}Project description{% endblock %}
{% block static %}
    <link rel="stylesheet" href="{% static 'details_of_project_page.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
{% endblock %}

{% block body %}
    <section class="wallpapper">
        <img src="/media/milkyway.jpg" alt="The photo of coffee.">
        <span class="centered">{{ title }}</span>
    </section>
    <section class="nav-of-details">
        <h3>The most important aspects of this site.</h3>
    </section>
    <section>
        <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
            <div class="swiper-wrapper" style="align-items: center;">
                {% for picture in picturesOfProject %}
                    <div class="swiper-slide">
                        <div class="row">
                            <div class="col-sm-9">
                                <img src="/media/{{ picture.pictureOfPost }}" alt="...">
                            </div>
                            <div class="col-sm-3">
                                <h4>{{ picture.descriptionOfPictureEnglish }}</h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div thumbsSlider="" class="swiper mySwiper">
            <div class="swiper-wrapper" style="align-items: center">
                {% for picture in picturesOfProject %}
                    <div class="swiper-slide">
                        <img src="/media/{{ picture.pictureOfPost }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    <script src="{% static 'swiper_in_details_of_project.js' %}"></script>
    </section>
    <section class="price-and-description">
        <div class="row">
            <div class="col">
                <div class="nav-of-col">
                    <h3>What the offer includes:</h3>
                </div>
                <ul>
                    <li>Installation on the server,</li>
                    <li>Domain Installation,</li>
                    <li>SSL Certificate Installation,</li>
                    <li>Training the client on adding content to the website,</li>
                    <li>Help with running the website,</li>
                    <li>Adding all descriptions and photos.</li>
                </ul>
            </div>
            <div class="col">
                <div class="nav-of-col">
                    <h3>Simple price: {{ post.samplePrice }} zł.</h3>
                </div>
                <div class="button">
                    <button type="button" onclick="location.href='http://{{ link }}/'" class="btn btn-secondary">Visit the website ->></button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block mail %}
    {% for smt in contact %}
        <a href="mailto:{{ smt.emailOfContact }}">{{ smt.emailOfContact }}</a>
    {% endfor %}
{% endblock %}
{% block tel %}
    {% for smt in contact %}
        <a href="tel:{{ smt.phoneOfContact }}">{{ smt.phoneOfContact }}</a>
    {% endfor %}
{% endblock %}