{% extends 'main_page_en.html' %}
{% load static %}

{% block tytul %}Dominik Radziszewski{% endblock %}
{% block static %}<link rel="stylesheet" href="{% static 'front_page.css' %}">{% endblock %}

{% block body %}
    <section class="wallpapper">
        <img src="/media/codding.png" alt="The photo of code.">
        <span class="centered">Dominik Radziszewski</span>
        <span class="centered2">Creator of websites and web applications</span>
    </section>
    <div class="row row-of-about-me-and-technology">
        <div class="col">
            <section class="nav-header" id="2">
                <h3>About me:</h3>
            </section>
            <section class="header">
                {% for file in contact %}
                    <img src="/media/{{ file.pictureOfContact }}" alt="The photo of me.">
                    <h6>
                        {{ file.descriptionOfContactEnglish }}
                    </h6>
                {% endfor %}
            </section>
        </div>
        <div class="col">
            <section class="technology">
                <div class="nav-of-technology">
                    <h3>Technologies I use:</h3>
                </div>
                <h4>FRONTEND</h4>
                <div class="frontend">
                    <div class="row">
                        <div class="col">
                            <img src="/media/icons/html.png">
                            <h6>HTML</h6>
                        </div>
                        <div class="col">
                            <img src="/media/icons/css.png">
                            <h6>CSS</h6>
                        </div>
                        <div class="col">
                            <img src="/media/icons/javascript.png">
                            <h6>JavaScript</h6>
                        </div>
                    </div>
                </div>
                <h4>BACKEND</h4>
                <div class="backend">
                    <div class="row">
                        <div class="col">
                            <img src="/media/icons/python.png">
                            <h6>Python</h6>
                        </div>
                    </div>
                </div>
                <h4>FRAMEWORKS</h4>
                <div class="frameworks">
                    <div class="row">
                        <div class="col">
                            <img src="/media/icons/bootstrap.png">
                            <h6>Bootstrap</h6>
                        </div>
                        <div class="col">
                            <img src="/media/icons/django.png">
                            <h6>Django</h6>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <section class="nav-action-plan">
        <h3>Creation process:</h3>
    </section>
    <section class="action-plan">
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <i class="fa-solid fa-magnifying-glass"></i>
              <h4>Interview</h4>
              <p>I'll start with an interview. The customer presents his needs for the website.</p>
            </div>
            <div class="col">
              <i class="fa-solid fa-laptop"></i>
              <h4>Project</h4>
              <span>At the second meeting I present a visual version of project using AdobeXD software.</span>
            </div>
            <div class="col">
              <i class="fa-solid fa-code"></i>
              <h4>Effect</h4>
              <span>I create a page according to the model in AdobeXD and upload it to the web.</span>
            </div>
          </div>
        </div>
    </section>
    <section class="nav-random-post">
        <h3>Sample projects:</h3>
    </section>
    <section class="random-post">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                            {% for picture in pictures %}
                                {% if picture.whichPost == random_post %}
                                    <div class="swiper-slide"><img src="/media/{{ picture.pictureOfPost }}"></div>
                                {% endif %}
                            {% endfor %}
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
                        <script src="{% static 'all_projects_page.js' %}"></script>
                    <div class="card-body">
                        <h5 class="card-title">{{ random_post.nameOfPost }}</h5>
                        <p class="card-text">{{ random_post.descriptionOfPostEnglish }}</p>
                        <a href="{% url 'details_of_project_page_en' random_post.id %}" class="btn btn-primary">Show more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-primary"><a href="{% url 'all_projects_page_en' %}">See other projects ->></a></button>
            </div>
        </div>
    </section>
{% endblock %}
{% block mail %}
    {% for smt in contact %}
        <a href="mailto:{{ smt.emailOfContact }}">{{ smt.emailOfContact }}</a>
    {% endfor %}
{% endblock %}
{% block tel %}
    {% for smt in contact %}
        <a href="tel:{{ smt.phoneOfContact }}">{{ smt.phoneOfContact }}</a>
    {% endfor %}
{% endblock %}
