{% extends 'main_page.html' %}
{% load static %}

{% block tytul %}Projekty{% endblock %}
{% block static %}<link rel="stylesheet" href="{% static 'projects_page.css' %}">{% endblock %}

{% block body %}
    <section class="projects">
        <div class="row">
            {% for post in posts %}
                <div class="col-sm-6">
                    <div class="card">
                        {% for picture in pictures %}
                            {% if picture.whichPost == post %}
                                <img src="/media/{{ picture.pictureOfPost }}" class="card-img-top">
                            {% endif %}
                        {% endfor %}
                        <div class="card-body">
                            <h5 class="card-title">{{ post.nameOfPost }}</h5>
                            <p class="card-text">{{ post.descriptionOfPost }}</p>
                            <a href="{% url 'details_of_project_page' post.id %}" class="btn btn-primary">Pokaż więcej</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}